.ex1{
    background: #0D91A1;
    color: #015668;
    width: 300px;
    height: 60px;
    padding: 30px;
    margin: 20px;
    border: 5px solid #7DCE94;
    font-family: 'Baloo Thambi 2', cursive;
  }

  main {
    border: 4px solid #4285f4;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 130px;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 24;
  }
  
  .north {
    background: #E67676;
    padding: 14px;
    margin: 0px;
  }
  
  .east {
    background: #F2F062;
    padding: 14px;
    margin: 0px;
  }
  
  .south {
    background: #A9E6E6;
    padding: 14px;
    margin: 0px;
  }
  
  .west {
    background: #7692E4;
    padding: 14px;
    margin: 0px;
  }
